html, body{
  overflow-x: hidden;
  background-color: #eee3;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.abs{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* UTILS */
/* °°°°°°°°°°°°°°°°°°°°° */
.hidden{
  display: none !important;
}
.show{
  display: block !important;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* PRIMARY_BUTTON */
/* °°°°°°°°°°°°°°°°°°°°° */
.float{
  float: right;
  position: fixed !important;
  right: 0;
  bottom: 0;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* TODO */
/* °°°°°°°°°°°°°°°°°°°°° */
.todo-item{
  padding: 0px 10% 15px 10%;
}
.todo-done{
  text-align: end;
}
.todo-edit{
  text-align: start;
}
.late{
  background-color: red !important;
}
.late *{
  color: white !important;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* ROOT */
/* °°°°°°°°°°°°°°°°°°°°° */
.mt-container{
  margin-top: 10vh;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* FORM */
/* °°°°°°°°°°°°°°°°°°°°° */
.form{
  z-index: 2 !important;
}
.form-contain{
  min-height: 80vh;
}
.form-active *{
  filter: blur(1.17rem) !important;
}
.form-card{
  border-radius: 50px !important;
}
.form-item{
  width: 70% !important;
  background-color: rgb(238, 238, 238) !important;
  border: none !important;
  border-radius: 5px !important;
  min-height: 2.5rem;
}
.form-item div::before{
  border: none !important;
}
.trans-form{
  transition: filter 1s ease-in !important;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: all 350ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: all 200ms linear;
}

/* °°°°°°°°°°°°°°°°°°°°° */
/* navbar */
/* °°°°°°°°°°°°°°°°°°°°° */
.navbar{
  z-index: 2 !important;
}
.navbar *{
  z-index: 2 !important;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* EMPTY */
/* °°°°°°°°°°°°°°°°°°°°° */
.empty{
  max-width: 80vw;
  max-height: 200px;
  border-radius: 15px;
  box-shadow: 0px 0px 54px 1px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .empty{
    max-height: 600px;
  }
}

 