html, body{
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.abs{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* UTILS */
/* °°°°°°°°°°°°°°°°°°°°° */
.hidden{
  display: none !important;
}
.show{
  display: block !important;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* PRIMARY_BUTTON */
/* °°°°°°°°°°°°°°°°°°°°° */
.float{
  float: right;
  position: fixed !important;
  right: 0;
  bottom: 0;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* TODO */
/* °°°°°°°°°°°°°°°°°°°°° */
.todo-item{
  margin: 0px 10% 15px 10%;
}
.todo-done{
  text-align: end;
}
.todo-edit{
  text-align: start;
}
/* °°°°°°°°°°°°°°°°°°°°° */
/* ROOT */
/* °°°°°°°°°°°°°°°°°°°°° */
.mt-container{
  margin-top: 10vh;
}